---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <side style="font-size: 0.9em">
      {% if page.type != 'pages' %}
      <span class="maturity">
        {% case page.maturity %}
          {% when "just_planted" %}
             just planted <img src="https://i.imgur.com/0TmGleB.png">
          {% when "seedling" %}
              seedling <img src="https://i.imgur.com/r8vNWQY.png">
          {% when "budding" %}
             BUD! 🌿
          {% when "flowering" %}
             Teh flowerrrrrs 🌸
          {% when "evergreen" %}
             Katniss, right? 🌳
          {% else %}
          <!--No "maturity" variable set for this page (or unknown value)-->
        {% endcase %}
        </span><br>
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        Last tended on {{ page.last_modified_at | date: "%B %-d, %Y" }}.
        </time>
      {% endif %}
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>

<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>

{% include notes_graph.html %}
