body {
 scrollbar-base-color: #FFCCCC;
 scrollbar-arrow-color: #FF6666;
 scrollbar-track-color: #FFF2F2;
}
a {
 font-weight: bold;
 text-decoration: none;
}
a:hover {
 color: #FFFFFF;
 cursor: crosshair;
}
td {
 font-family: arial;
 font-size: 8pt;
}
.head {
 border-bottom: 1px dashed #FF6666;
 font-weight: normal;
 letter-spacing: 1px;
 padding-left: 15px;
 padding-bottom: 2px;
}
#rights {
 background-image: url('0041-16.gif');
 background-position: right top;
 background-repeat: no-repeat;
 color: #FFCCCC;
}
#rights a {
 color: #FFFFFF;
}
#rights a:hover {
 color: #FFFFCC;
}