body {
	scrollbar-base-color:#FFFFFF;
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #B6BCCA;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #B6BCCA;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #B6BCCA;
	font-family: tahoma; color:#749F1D;
	font-size:8pt;
	letter-spacing:1pt;
	line-height:12px;
	margin:5;

    }

A:link {
	color: #B6BCCA;
	font-weight: bold;
	text-decoration:none;
    }



A:visited {
	color: #B6BCCA;
	font-weight: bold;
	text-decoration:none;
    }

A:active {

	color:#B6BCCA;
	text-decoration:none;
    }


A:hover {
	color:#A0A7AB;
	text-decoration:overline;
	font-weight:none;
	letter-spacing:0pt;
    }

.HEAD {
            font-style : normal; 
            font-weight : none; 
            font-size : 11px; 
            font-family : verdana; 
            color : #B6BCCA;
            background-color: #FFFFFF;
            border: 1 ridge solid #B6BCCA;
            padding: 1;
            margin: 4;
}

body,tr,td {
	font-size:11px;
	font-family:verdana;
	color:#B6BCCA;
	line-height:12px;
	letter-spacing:0pt;
	margin:5;
    }